.header {
  background-color: #1776f2;
  color: #fff;
  justify-content: space-between;
  padding: 10px 20px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header a {
  color: #fff;
}

.form {
  overflow: hidden;
  width: 60%;
  position: relative;
}

.form-btn {
  position: absolute;
  left: 0;
  width: 40px;
  border-radius: 50%;
  background-color: #fff;
}

.form-input {
  width: 100%;
  padding: 10px;
  text-indent: 30px;
  border: none;
  border-radius: 30px;
  font-size: 14px;
}

.header-right {
  width: 80%;
  justify-content: end;
  gap: 20px;
}

.navbar {
  width: 30%;
  justify-content: space-between;
}

.header-right div {
  gap: 15px;
}

.notifications div {
  position: relative;
}

.notifications svg {
  font-size: 35px;
}

.notifications div::after {
  content: attr(data-count);
  position: absolute;
  top: -5px;
  right: 0;
  background-color: #fe0007;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  color: #fff;
  display: grid;
  place-items: center;
  font-size: 13px;
}

@media screen and (max-width: 1650px) {
  .header-right {
    width: 80%;
  }

  .form {
    width: 50%;
  }

  .navbar {
    width: 35%;
  }
}

@media screen and (max-width: 1400px) {
  .header-right {
    width: 100%;
  }

  .navbar {
    width: 35%;
  }
}

@media screen and (max-width: 1250px) {
  .form {
    width: 40%;
  }

  .navbar {
    width: 40%;
  }
}

@media screen and (max-width: 1100px) {
  .navbar {
    width: 45%;
  }
}

@media screen and (max-width: 1000px) {
  .header-right {
    gap: 0;
  }

  .navbar {
    width: 30%;
  }

  .form {
    width: 60%;
  }

  .header-right span {
    display: none;
  }

  .header-right svg {
    font-size: 30px;
  }

  .notifications div::after {
    right: -5px;
  }
}

@media screen and (max-width: 800px) {
  .header-right {
    width: 80%;
  }

  .navbar {
    width: 15%;
  }

  .form-btn {
    font-size: 5px;
  }

  .form {
    width: 100%;
  }

  .notifications {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header-right {
    width: 70%;
  }

  .navbar {
    width: 20%;
  }
}
